Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  google-*,
  misc-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: '*'
FormatStyle: file
